/* ubuntu-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/ubuntu-v20-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ubuntu-v20-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/ubuntu-v20-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ubuntu-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/ubuntu-v20-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-sans-v11-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/dm-sans-v11-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/dm-sans-v11-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/dm-sans-v11-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/dm-sans-v11-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/dm-sans-v11-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway-v28-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v28-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/raleway-v28-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Ubuntu" "Arial", sans-serif;
    font-weight: 400;
    background-color: #040F28;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/* ************** HEADER-HERO STYLE STARTS *************** */

.header-hero{
    width: 100%;
    background-image: url(../images/background_dec2.png), url(../images/background_dec.png);
    background-repeat: no-repeat;
    background-position: calc(50% - 793px) calc(50% - 263px), calc(50% + 400px)  calc(50% + 300px);
}


.site-header__wrapper{
    padding-top: 56px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #C4C4C4;
}

.sitenav_list{
    display: flex;
}

.sitenav_item:not(:last-child){
    margin-right: 50px;
}

.sitenav_item:last-child .sitenav_link{
    padding: 16px 32px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    border: 2px solid #C4C4C4;
    border-radius: 87px;
    
}


.sitenav_link{
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #646464;
}

.sitenav_link:active{
    color: #C4C4C4;
}
/* ************** HEADER STYLE ENDS *************** */


/* ************** HERO STYLE STARTS *************** */
.hero-section{
    margin-top: 143px;
}

.hero-section__wrapper{
    position: relative;
}

.hero-section__wrapper--start{
    width: 100%;
    max-width: 500px;
    margin-bottom: 210px;
}

.hero-section__title{
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 74px;
    text-transform: capitalize;
    color: #C4C4C4;
}

.hero-section__desc{
    width: 487px;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #646464;
}

.hero-section__link{
    margin-top: 0;
    padding: 16px 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #FFFFFF;
    background: #FC3867;
    border-radius: 87px;
}

.hero-section__img{
    width: 497px;
    height: 656px;
    position: absolute;
    top: 140px;
    right: calc(50% - 545px);
}

/* ************** HERO STYLE ENDS *************** */


/* ************** MAIN STYLES START *************** */

/* ************** SUMMARY SECTION STARTS *************** */
.summary-section{
    background-color: #fff;
    margin-bottom: 150px;
}

.summary-section__wrapper{
    padding-top: 90px;
    padding-bottom: 85px;
}

.summary-section__list{
    display: flex;
    justify-content: space-evenly;
}

.summary-section__item:not(:last-child){
    padding-right: 85px;
    border-right: 1px solid #D8D8D8;
}

.summary-section__title{
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: -0.005em;
    text-align: center;
    color: #070707;
}

.summary-section__desc{
    margin-top: 0;
    margin-bottom: 8px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.005em;
    color: #070707;
}

.summary-section__subdesc{
    margin-top: 0;
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.005em;
    color: #C4C4C4;
}
/* ************** SUMMARY SECTION ENDS *************** */


/* ************** BENEFIT SECTION STARTS *************** */
.benefit-section{
    margin-bottom: 118px;
}

.benefit-section__wrapper--info{
    margin-top: 0;
    margin-bottom: 12px;
}

.benefit-section__text{
    margin-top: 0;
    font-family: 'Ubuntu';
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.benefit-section__wrapper--start{
    margin-top: 0;
    margin-bottom: 56px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}



.benefit-section__title{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

.benefit-section__desc{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #FFFFFF;
}

.benefit-section__list{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefit-section__item{
    position: relative;
    width: 100%;
    max-width: 308px;
    padding-left: 65px;
}

.benefit-section__item:nth-child(1)::before{
    position: absolute;
    content: url(../images/benefit_icon1.svg);
    top: 0;
    left: 0;
    width: 32px;
    height: 15;
}

.benefit-section__item:nth-child(2)::before{
    position: absolute;
    content: url(../images/benefit_icon2.svg);
    top: 0;
    left: 0;
    width: 37px;
    height: 27px;
}

.benefit-section__item:nth-child(3)::before{
    position: absolute;
    content: url(../images/benefit_icon3.svg);
    top: 0;
    left: 0;
    width: 36px;
    height: 31px;
}

.benefit-section__subtitle{
    margin-top: 0;
    margin-bottom: 9px;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.benefit-section__subdesc{
    max-width: 243px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #FFFFFF;
}
/* ************** BENEFIT SECTION ENDS *************** */


/* ************** OFFER SECTION STARTS *************** */
.offer-section{
    margin-bottom: 103px;
}

.offer-section__title{
    margin-top: 0;
    margin-bottom: 29px;
    text-align: center;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #FFFFFF;
}

.offer-section__desc{
    margin-top: 0;
    margin-bottom: 72px;
    text-align: center;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.offer-section__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1240px;
}

.offer-section__item{
    position: relative;
    width: 100%;
    min-height: 267px;
    max-width: 580px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding-top: 24px;
    padding-right: 90px;
    padding-bottom: 36px;
    padding-left: 128px;
    background-color: #fff;
    border-radius: 12px;
}

.offer-section__subtitle{
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.offer-section__subdesc{
    margin-top: 0;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #272727;
}

.offer-section__item::before{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: url(../images/offer1.svg);
    top: 24px;
    left: 32px;
    width: 80px;
    height: 80px;
    padding: 32px;
    border-radius: 50%;
    background-color: #FC3867;
    color: #000000;
}

.offer-section__item:nth-child(2)::before{
    content: url(../images/offer2.svg);
}

.offer-section__item:nth-child(3)::before{
    content: url(../images/offer3.svg);
}

.offer-section__item:nth-child(4)::before{
    content: url(../images/offer4.svg);
}

.offer-section__item:nth-child(5)::before{
    content: url(../images/offer5.svg);
}

.offer-section__item:nth-child(6)::before{
    content: url(../images/offer6.svg);
}
/* ************** OFFER SECTION ENDS *************** */


/* ************** CREATIVE SECTION START *************** */
.creative-section{
    margin-bottom: 117px;
}

.creative-section__title{
    width: 100%;
    margin-top: 0;
    margin-bottom: 18px;
    text-align: center;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #FFFFFF;
}

.creative-section__desc{
    width: 100%;
    max-width: 417px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 56px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #999999;
}

.creative-section__pic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    flex-wrap: wrap;
    width: 1240px;
}

.creative-section__img{
    margin-right: 24px;
    margin-bottom: 24px;
    border-radius: 12px;
    
}

/* ************** CREATIVE SECTION ENDS *************** */


/* ************** PRICING SECTION STARTS *************** */
.pricing-section{
    margin-bottom: 172px;
}

.pricing-section__title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.pricing-section__desc{
    width: 100%;
    max-width: 484px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 71px;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
}

.pricing-section__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pricing-section__item{
    position: relative;
    width: 100%;
    max-width: 300px;
    min-height: 450px;
    padding-top: 52px;
    padding-right: 37px;
    padding-bottom: 48px;
    /* padding-left: 52px; */
    background-color: #fff;
    border-radius: 12px;
}

.pricing-section__tarifs{
    margin-top: 0;
    margin-bottom: 21px;
    padding-left: 24px;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.pricing-section__prices{
    margin-top: 0;
    margin-bottom: 24px;
    padding-left: 24px;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    color: #000000;
}

.pricing-section__month{
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 15px;
    line-height: 55px;
    color: #000000;
}

.pricing-section__info{
    position: relative;
    margin-top: 0;
    padding-left: 52px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #272727;
}

.pricing-section__info::before{
    position: absolute;
    content: url(../images/tick.svg);
    left: 28px;
}

.pricing-section__btn{
    position: absolute;
    bottom: 48px;
    left: 68px;
    margin-top: 0;
    padding: 12px 45px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #272727;
    border: 1.2px solid #272727;
    border-radius: 50px;
}

.pricing-section__btn:active{
    color: #fff;
    background: #FC3867;
    border-radius: 50px;
    border: none;
}

/* ************** PRICING SECTION ENDS *************** */


/* ************** SUBSCRIBING SECTION STARTS *************** */
.subscribe-section{
    background-color: #fff;
}

.subscribe-section__wrapper{
    position: relative;
    padding-bottom: 40px;
    min-height: 264px;
}

.subscribe-section__text{
    margin-top: 0;
    padding-top: 40px;
    margin-bottom: 12px;
    font-family: 'Cerebri Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #C4C4C4;
}

.subscribe-section__title{
    margin-top: 0;
    margin-bottom: 27px;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    color: #212226;
}

.subscribe-section_btn{
    position: absolute;
    bottom: 40px;
    left: 500px;
    margin-top: 0;
    padding: 16px 40px;
    color: #fff;
    background: #FC3867;
    border-radius: 50px;
    border: none;
}

/* ************** SUBSCRIBING SECTION ENDS *************** */


/* ************** MAIN STYLES END *************** */




/* ************** FOOTER STARTS *************** */
.site-footer{
    padding-top: 42px;
    background-color: #070707;
}

.site-footer__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}

.site-footer__text{
    width: 100%;
    max-width: 320px;
}

.site-footer__title{
    margin-top: 0;
    margin-bottom: 17px;
    font-family: 'Cerebri Sans';
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.site-footer__desc{
    margin-top: 0;
    margin-bottom: 25px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #C4C4C4;
}

.site-footer__img{
    display: flex;
}

.site-footer__social:not(:last-child){
    margin-right: 16px;
}

.site-footer__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-footer__item:not(:last-child){
    margin-right: 75px;
}

.site-footer__subtitle{
    margin-top: 0;
    margin-bottom: 27px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.site-footer__subdesc{
    margin-top: 0;
    margin-bottom: 27px;
    font-family: 'Ubuntu';
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

.site-footer__copyright{
    padding-top: 34px;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 14px;
    line-height: 16px;
    color: rgba(196, 196, 196, 0.5);
    border-top: 1px solid rgba(196, 196, 196, 0.5);
}

/* ************** FOOTER ENDS *************** */
